body {
    background: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#buttons,
#flipped {
    float: right;
}

#buttons i,
#flipped i {
    display: block;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

#ui {
    float: left;
}

#clock {
    font-weight: bold;
    position: absolute;
    top: 29px;
    left: 24px;
}

#notifications {
    font-size: 8pt;
    position: absolute;
    top: 28px;
    left: 16px;
    width: 50%;
}

.uititle {
    top: 28px;
    left: 10px;
    color: gray;
    font-weight: bold;
    position: absolute;
    font-size: 9pt;
}

#battery {
    position: absolute;
    top: 4px;
    left: 6px;
}

#battery {
    font-size: 12px;
}

.ui-content {
    position: absolute;
    top: 38px;
    left: 10px;
    width: 70%;
    font-size: 8pt;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ui-content > ul.menu > li.selected {
    background: #ccc;
    color: #000;
}

.menu {
    margin-top: 10px;
}

#version {
    position: absolute;
    bottom: 6px;
    font-size: 9pt;
}

#snt {
    font-size: 8pt;
    font-family: monospace;
    width: 80px;
    word-wrap: anywhere;
}